/Clase01/HolaMundo/nbproject/private/
/Clase01/HolaMundo/build/
/Clase01/CalcularVenta/nbproject/private/
/Clase01/CalcularVenta/build/
/Clase01/CalcularVenta/dist/
/Clase01/SumaApp2/nbproject/private/
/Clase01/SumaApp2/build/
/Clase01/CalcularVenta - copia/build/
/Clase01/CalcularVenta - copia/dist/
/Clase01/CalcularVenta - copia/nbproject/private/
/Clase01/CalcularVenta2/build/
/Clase01/CalcularVenta2/dist/
/Clase01/CalcularVenta2/nbproject/private/