@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px
}

html, body {
	width: 100%;
	height: 100%
} /*3.-codigo de reset*/
#contenedor {
	width: 100%;
	height: auto;
	margin: auto;	
	background: white;
}

body {
	background-color: white;
}


#banner img {
	width: 100%;
	height: 100%
}

section {
	text-align: center /*padding-left:170px;*/ /*height:400px*/
}






